/ {
    aliases {
        led0 = &embedded_led;
        can0 = &twai;
    };

    leds {
        compatible = "gpio-leds";
        embedded_led: embedded_led {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
        };
    };
};

&pinctrl {
    twai_default: twai_default {
        group1 {
            pinmux = <TWAI_TX_GPIO26>, <TWAI_RX_GPIO25>;
        };
    };
};

&twai {
    status = "okay";
    pinctrl-0 = <&twai_default>;
    pinctrl-names = "default";
    bus-speed = <125000>;
};

&wifi {
    status = "okay";
};
