config WATCHDOG_TIMEOUT
    int "Set time after which watchdog resets the board, in ms"
    range 60000 300000
    default 120000
    help
        Watchdog is used as last line of defense and recovery if gateway board
        hangs on unknown error. Range 1 min - 5 min.

config MQTT_MESSAGE_RX_BUFFER_SIZE
    int "Set size of MQTT buffer RX size."
    range 128 65536
    default 2048
    help
        This buffer is used to store fragments of new user application. The bigger, the more
        efficient flashing process will be.

config MQTT_MESSAGE_TX_BUFFER_SIZE
    int "Set size of MQTT buffer RX size."
    range 128 1024
    default 128
    help
        Used to store debug messages before publishing them. Should be minimum of 128.

source "Kconfig.zephyr"
